/* Global Styles */
:root {
  --font-size-normal: 0.8rem;
  --font-size-one: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-big: 1.5rem;
  --font-size-lead: 2rem;
  --font-size-large: 3rem;
  --font-size-small: 0.7rem;
  --font-size-extrasmall: 0.55rem;
  --font-family-default: Aileron;
  --primary-color: rgb(23, 162, 184);
  --secondary-alt-color: #e76848;
  --primary-color-dark: rgb(20, 100, 112);
  --primary-color-light: rgb(23, 162, 244);
  --dark-color: #343a40;
  --dark-color-transparent: #343a4070;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --happy-color: #dcd505;
  --happy-color-trasparent: #dcd50510;
  --success-color: #28a745;
  --logo-color-1: #fccb7b;
  --logo-color-2: #8ae9e9;
  --background-color: #3F3F3F;
  --middle-grey-color: #7f7f7f;
  --navbar-height: 50px;
  --material-texture-size: 128px;
  --scheme-color-1: #D1793F;
  --scheme-color-2: #fccb7b;
  --scheme-color-3: #8ae9e9;
  --mainMargin: 2%;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Aileron;
  src: url(img/Aileron-Light.otf);
}

@font-face {
  font-family: Aileron-Thin;
  src: url(img/Aileron-Thin.ttf);
}

body {
  margin: 0 auto;
  height: 100vh;
  min-width: 1024px;
  font-family: var(--font-family-default);
  font-size: 1rem;
  background-color: var(--background-color);
  color: #e0e0e0;
  line-height: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration: none;
  text-decoration-color: inherit;
  color: inherit;
}
::-webkit-scrollbar {
  width: 0 !important;
}

.Canvas {
  grid-area: render;
  align-self: stretch;
  justify-self: stretch;
  /* border: 2px solid;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19); */
}

#WasmCanvas {
  position: absolute;
  background-color: black;
  /* border: 2px solid var(--secondary-alt-color); */
  /*z-index: 500;*/
}

.backdropModal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.025);
  left: 0;
  top: 0;
  z-index: 450;
}

.blooming {
  text-shadow: -1px -1px 4px white;
}

.projectInvitationGrid {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
  grid-template-areas: "projectTitle closeButton";
}

.closeButton-a {
  grid-area: closeButton;
  justify-self: end;
}

.project-a {
  grid-area: project;
  justify-self: start;
  align-self: center;
  font-size: 1.8rem;
}

.project-login {
  display: inline;
}

.searchbar-a {
  grid-area: searchbar;
  justify-self: center;
  align-self: center;
}

.topentityselectorbar-a {
  grid-area: topentityselectorbar;
  justify-self: start;
  align-self: center;
}

.thumbs-a {
  grid-area: thumbs;
  justify-self: stretch;
  align-self: stretch;
}

.editor-a {
  grid-area: editor;
  justify-self: stretch;
  align-self: stretch;
}

.dashboardContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: minmax(200px, 15%) 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "thumbs editor";
  grid-gap: 0.5% 0.5%;
  align-items: center;
  justify-items: stretch;
  justify-content: center;
  background-image: linear-gradient(
          rgba(23, 162, 184, 0.1),
          rgba(183, 162, 244, 0.05)
  );
  margin-top: var(--navbar-height);
  padding: 1% 1% 1% 1%;
  width: 100%;
  /* height: 100%; */
  height: calc(100% - var(--navbar-height));
  /* border-bottom: 10px solid var(--secondary-alt-color); */
}

.imagerotate {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.imgGreyOutline {
  border: 1px solid var(--middle-grey-color);
}

.colorLogo1 {
  color: var(--logo-color-1);
}

.colorLogo2 {
  color: var(--logo-color-2);
}

/* Utilities */
.clickable {
  cursor: pointer;
  outline: none;
}

.clickable:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}

.clickable:active {
  transform: scale(0.95);
  transition-duration: 0.2s;
}

.container {
  margin: 3% auto;
  overflow: hidden;
  padding: 0 15%;
}

.search-bar {
  margin: 0 auto;
  height: 38px;
  width: 100%;
  padding-left: 10px;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  outline: none;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.search-bar-smaller {
  height: 30px;
  font-size: 0.9rem;
  border-radius: 4px;
}

input#search-bar:hover {
  box-shadow: inset 0 0 1px 1px var(--primary-color);
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.medium {
  font-size: 1.25rem;
}

.small {
  font-size: 0.7rem;
}

.extra-small {
  font-size: 0.55rem;
}

.normal {
  font-size: 0.8rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color-light);
}

.text-secondary-alt {
  color: var(--secondary-alt-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-pale {
  color: #7f7f7f;
}

.text-danger {
  color: var(--danger-color);
}

.rightFloater {
  float: right;
}

.inliner {
  display: inline;
}

.inliner-block {
  display: inline-block;
}

.blocker {
  display: block;
}

.leftFloater {
  float: left;
}

.fullWidth {
  width: 100%;
  display: block;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 23px;
  padding: 0px 3px;
  border-radius: 5px;
  background: var(--dark-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: inset 0 0 1px 1px var(--primary-color-light);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 1);
  background: var(--primary-color-light);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 1);
  background: var(--primary-color-light);
  cursor: pointer;
}

.btn2 {
  width: 100%;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btnConfirm {
  width: 50%;
  background: var(--light-color);
  color: #333;
  padding: 0.2rem 1.1rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn:active {
  transform: scale(0.95);
  transition-duration: 0.2s;
}

.btn2:active {
  transform: scale(0.95);
  transition-duration: 0.2s;
}

.btnConfirm:active {
  transform: scale(0.98);
  transition-duration: 0.2s;
}

.closeButton {
  display: block;
  width: 100%;
  float: right;
  padding: 6px 6px 4px 8px;
}

.fullline {
  float: left;
  margin-left: 10px;
  width: 100%;
  overflow: hidden;
}

.navdiv {
  display: table;
  width: 100%;
  overflow: hidden;
  padding: 4px 0px;
}

.navdiv-title {
  width: 35%;
  display: table-cell;
  vertical-align: middle;
}

.navdiv-titletext {
  color: var(--light-color);
}

.navdiv-projecttext {
  color: var(--secondary-alt-color);
}

.user-navbar {
  width: 35%;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

input[type="color"] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 2px;
  background: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: solid 1px #000; /*change color of the swatch border here*/
  border-radius: 2px;
}

input[type="color"]:hover {
  border: solid 2px var(--primary-color); /*change color of the swatch border here*/
}

/* input[type="color"]:active {
  transform: scale(0.95);
} */

.projectManagementContainer {
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--light-color);
  border-style: dashed;
  /* background-color: #fafafa;
  margin-bottom: 7px; */
  color: var(--light-color);
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}

.dropzoneNoHMargins {
  /* margin: 5px 0px; */
  cursor: pointer;
}
